# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.venv/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# ML / Model Artifacts
# ===============================
catboost_info/
*.pkl
*.joblib
*.h5
*.onnx

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Build / Packaging
# ===============================
mlproject.egg-info/
build/
dist/

# ===============================
# Environment Variables
# ===============================
.env
.env.*

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/
